# Logging configuration for Caddy
(log_common) {
    log {
        output file /var/log/caddy/{args[0]}.access.log
        format console
    }
}

# CORS headers control (used for static and media files)
(cors-headers) {
    header Allow GET,HEAD,OPTIONS
    header Access-Control-Allow-Origin *
    header Access-Control-Allow-Methods GET,HEAD,OPTIONS
    header Access-Control-Allow-Headers Authorization,Content-Type,User-Agent

    @cors_preflight{args[0]} method OPTIONS

    handle @cors_preflight{args[0]} {
        respond "" 204
    }
}

{$BEAUTEFLY_SITE_URL} {
    import log_common beautefly

    encode gzip

    request_body {
        max_size 100MB
    }

    handle_path {$BEAUTEFLY_FILESERVER_BASE_URI}/* {
        import cors-headers media

        root * /var/www/media
        file_server

        header Content-Disposition inline
    }

    reverse_proxy {$BEAUTEFLY_SERVER} {
    }
}
