<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <context-param>
        <param-name>company.name</param-name>
        <param-value>Beautefly</param-value>
    </context-param>
    <context-param>
        <param-name>company.email</param-name>
        <param-value>contact@beautefly.com</param-value>
    </context-param>
    <context-param>
        <param-name>company.copyright</param-name>
        <param-value>Beautefly(TM) 2025-2025</param-value>
    </context-param>

    <security-role>
        <role-name>ADMIN</role-name>
    </security-role>
    <security-role>
        <role-name>USER</role-name>
    </security-role>
    <security-role>
        <role-name>STAFF</role-name>
    </security-role>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <!--suppress WebProperties -->
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <trim-directive-whitespaces>true</trim-directive-whitespaces>
        </jsp-property-group>
    </jsp-config>

    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/views/error/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/views/error/404.jsp</location>
    </error-page>

    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>PageVisitTracker</filter-name>
        <filter-class>com.lavacorp.beautefly.webstore.security.filter.PageVisitTracker</filter-class>
        <init-param>
            <param-name>queueSize</param-name>
            <param-value>3</param-value>
        </init-param>
        <init-param>
            <param-name>ignorePatterns</param-name>
            <param-value>
                /static/.*
                /favicon.ico
                /login.*
                /logout
            </param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>PageVisitTracker</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>com.lavacorp.beautefly.webstore.admin.filter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>

<!--    <welcome-file-list>-->
<!--        <welcome-file></welcome-file>-->
<!--    </welcome-file-list>-->
</web-app>